NEXT_PUBLIC_BRAINLINK_APP_CLIENT_ID=your-brainlink-app-client-id

# Exa API key (Optional - if using Exa as search provider)
EXA_API_KEY=your_exa_api_key

# Upstash Redis (required for rate limiting)
UPSTASH_REDIS_REST_URL=your_upstash_redis_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token

# Bing Search API (Optional - if using Bing as search provider)
AZURE_SUB_KEY=your-azure-subscription-key

# Google Custom Search API (Optional - if using Google as search provider)
GOOGLE_SEARCH_API_KEY=your-google-search-api-key
GOOGLE_SEARCH_CX=your-google-search-cx
